#app {
  font-family: 'FiraCode NF Retina', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
  border-radius: 10px;
  border-radius: 8px;
  box-sizing: border-box;
  color: #2c3e50;
  height: 100%;
  padding: 1em;
  width: 100%;
}
